@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');


:root {
    /* FONT */
      --FF: 'Ubuntu', sans-serif;
      --FL: "Sorts Mill Goudy", serif;
      --FS: 1.25rem;
    /* COLOR */
    --txt-lg: #403A3A;
    --txt-sm: #201D1D;
    --accent-dark: #520F00;
    --accent-bright: #65000B;
    --bg-primary: #FAFAF1;
    --bg-secondary: #FFFFEB;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: var(--FS) var(--FF);
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5em;
    background: var(--bg-primary);
}
.header_el {
    display: grid;
    place-content:center;
    text-align: center;
    row-gap: .5em;
}
h2 {
    color: var(--subHeading);
    line-height: 1.5;
}
.logo-text {
    font: var(--FL);
}
.logo-name {
    display: flex;
    align-items: center;
    gap: .25em;
}
.linkList {
    display: flex;
    gap: .5em;
    list-style-type: none;
    text-decoration: none;
    color: var(--accent);
}
.siteNavOpt {
    border-left: solid;
    padding-left: .125em;
}
ul {
    list-style-type: none;
    text-align: start;
}
p {
    color: var(--paragraph);
    line-height: 1.5;
}
a {
    text-decoration: inherit;
    color: inherit;
}  
a:hover, a:focus {
    filter: brightness(150%);
}